.App {
  text-align: center;
}

.smallText {
  font-size: 2em;
}

.tiny {
  width: 200px;
}

.smallest {
  width: 100px;
}

h2 {
  font-size: 1.5em!important;
  color: #454545;
}

h4 {
  font-size: 1.2em!important;
  color: #454545;
}
h6 {
  font-size: 1em!important;
  color: #727272;
}
.display2 {
  width: 50%!important;
  margin: auto;
  color: #929292;
}

.form-check-input {
  margin-top: -3px!important;
  margin-right: 10px!important;
  width: 30px!important;
  height: 30px!important;
  /* background-color: rgb(0, 187, 125)!important; */
}

.form-check-input:checked {
  background-color: rgb(0, 187, 125)!important;
}

.removeMargin {
  margin-left: -100%;
}

.padding20 {
  padding-left: 10%;
  padding-right: 10%;
}

.modalImage {
  width: 100%;
  height: auto;
}
/* toast containter position absolute so it shows when scrolled down */
.toast-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  z-index: 9999;
}

.cardContainer {
    position: sticky!important;
    top: 5%;
    margin-top: 20px;
    z-index: 9999;
}

.card {
  box-shadow: 0 0 2px #606266!important;
}

.form-check-input:checked {
  border-color: #05a2a7!important;
}